{% extends "main/base.html" %}
{% load static %}

{% block content %}
	<section class="section section--first section--bg" data-bg="{% static "main/img/bg/section__bg.jpg" %}">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="section__wrap">
						<h1 class="section__title section__title--head">Політика конфіденційності</h1>
						<ul class="breadcrumbs">
							<li class="breadcrumbs__item"><a href="{% url "main:index" %}">Головна</a></li>
							<li class="breadcrumbs__item breadcrumbs__item--active">Політика конфіденційності</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="section">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<p class="section__text">Дякуємо за відвідування веб-сайту кінотеатру "Affordable". Ми дуже цінуємо вашу присутність тут і зобов'язуємося забезпечувати вам максимальний рівень конфіденційності та захисту ваших персональних даних. Наша політика конфіденційності пояснює, як ми збираємо, використовуємо, захищаємо та розкриваємо вашу інформацію в контексті відвідування нашого веб-сайту та взаємодії з ним.</p>
					<div class="section__list">
						<ol>
							<li>
								<h4>Збір та використання інформації:</h4>
								<ol>
									<li>Ми збираємо різноманітну інформацію, включаючи, але не обмежуючись, ім'я, адресу електронної пошти, контактні дані, інформацію про пристрій, IP-адресу та іншу інформацію, яку ви нам надаєте чи яку ми можемо отримувати під час використання веб-сайту.</li>
									<li>Ми використовуємо цю інформацію для забезпечення вам доступу до послуг кінотеатру, відправлення новин та акційних пропозицій, а також для покращення якості наших послуг.	</li>
								</ol>
							</li>
							<li>
								<h4>Захист інформації:</h4>
								<ol>
									<li>Ми приділяємо велику увагу захисту вашої інформації та вживаємо відповідних заходів безпеки для захисту її від несанкціонованого доступу, втрати, використання чи розголошення.</li>
								</ol>
							</li>
							<li>
								<h4>Розкриття інформації третім сторонам:</h4>
								<ol>
									<li>Ми не розкриваємо вашу персональну інформацію третім сторонам без вашої згоди, за винятком випадків, передбачених законом або необхідних для надання послуг, що надаються вами.</li>
								</ol>
							</li>
							<li>
								<h4>Користувацькі права:</h4>
								<ol>
									<li>Ви маєте право змінювати, видаляти чи оновлювати свою персональну інформацію, а також вибирати, як ми використовуємо ваші дані. </li>
									<li>Ви також можете в будь-який момент відмовитися від отримання рекламних повідомлень від нас.</li>
								</ol>
							</li>
							<li>
								<h4>Політика щодо дітей:</h4>
								<ol>
									<li>Наш веб-сайт не призначений для використання особами, які не досягли 18 років. Ми не збираємо свідомо інформацію від дітей молодших 18 років.</li>
									<li>Якщо ми виявимо, що ми зібрали інформацію від дитини без згоди батьків, ми негайно видалимо цю інформацію з наших серверів.</li>
								</ol>
							</li>
							<li>
								<h4>Зміни у політиці конфіденційності:</h4>
								<ol>
									<li>Ми можемо час від часу оновлювати цю політику конфіденційності. Будь ласка, періодично переглядайте цю сторінку, щоб бути в курсі будь-яких змін. </li>
									<li>Ваше продовження використання веб-сайту після опублікування змін у цій політиці буде вважатися вашою згодою з такими змінами.</li>
								</ol>
							</li>
						</ol>
					</div>
					<p class="section__text">Ця політика конфіденційності вступає в дію з моменту її публікації та стосується всіх відвідувачів нашого веб-сайту.</p>
					<p class="section__text">Якщо у вас є будь-які питання щодо нашої політики конфіденційності, будь ласка, <a href="{% url "main:contacts" %}">зв'яжіться з нами</a></p>
				</div>
			</div>
		</div>
	</section>
{% endblock content %}